{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $editor := promptStringOnce . "editor" "Preferred text editor" -}}
{{- $gituser := promptStringOnce . "gituser" "Your git username" -}}
{{- $install_apps := promptBoolOnce . "install_apps", "Install apps?" -}}

[data]
  name = "Britton Hayes"
  email =  {{ $email | quote }}
  editor = {{ $editor | quote }}
  install_apps = {{ $install_apps }}

[data.git]
  username = {{ $gituser | quote }}
  signingkey = ""