{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $editor := promptStringOnce . "editor" "Preferred text editor" -}}
{{- $gituser := promptStringOnce . "gituser" "Your git username" -}}

[data]
  name = "Britton Hayes"
  email =  {{ $email | quote }}
  editor = {{ $editor | quote }}

[data.git]
  username = {{ $gituser | quote }}
  signingkey = ""