# Load the 'init.sh'.  
source "{{ .chezmoi.homeDir }}/zshrc/init.sh"

# Find all '.sh' files in ~/zshrc, exclude 'init.sh'.  
FILES_STR=$(find {{ .chezmoi.homeDir }}/zshrc -name '*.sh' -not -name 'init.sh')

# `tr` is a find-and-replace utility.  
# Outer () will convert the output of $() to array.  
FILES=($(echo $FILES_STR | tr '\n' ' '))

for FILE in $FILES; do  
    source $FILE  
done


# EDITOR
{{if .editor  -}}
    export EDITOR={{ .editor | quote}}
{{else -}}
    export EDITOR="code --wait"
{{- end }}

# Path to powerlevel10k theme
source "{{.chezmoi.homeDir}}/.oh-my-zsh/custom/themes/powerlevel10k"

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

