# Path to my oh-my-zsh installation.
export ZSH="{{ .chezmoi.homeDir }}/.oh-my-zsh"

ZSH_THEME="powerlevel10k/powerlevel10k"

source $ZSH/oh-my-zsh.sh

plugins=(
    z
	git
    sudo
    zsh-autosuggestions
	zsh-syntax-highlighting
)

# USER CONFIG
export GOPATH="{{ .chezmoi.homeDir }}/go"
export GOBIN="$GOPATH/bin"
export GO111MODULE="on"
export PATH="$PATH:$GOPATH/bin:$GOROOT/bin"

# EDITOR
{{if .editor  -}}
    export EDITOR={{ .editor | quote}}
{{else -}}
    export EDITOR="code --wait"
{{- end }}

# ALIASES
alias vi="vim"
alias pip="pip3"
alias python="python3"
alias kubectl="k"
alias ..='cd ..'
alias ...='cd ../..'
alias .3='cd ../../..'
alias .4='cd ../../../..'
alias .5='cd ../../../../..'


# Always mkdir a path (this doesn't inhibit functionality to make a single dir)
alias mkdir='mkdir -p'

# Fixes "Error opening terminal: xterm-kitty" when using the default kitty term to open some programs through ssh
alias ssh='kitten ssh'

# FUNCTIONS
function gi() {
    curl -sLw n https://www.toptal.com/developers/gitignore/api/$@ ;
}

# Path to powerlevel10k theme
source "{{.chezmoi.homeDir}}/.oh-my-zsh/custom/themes/powerlevel10k"

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh