#!/bin/bash

PACKAGES="awscli fd gh glow go-task/tap/go-task golangci-lint goreleaser jq kubectl prettier protobuf ripgrep rustup-init terraform tldr vim yarn zsh fish"

for i in $PACKAGES; do
    brew install "$i"
done
